#message-pane {
    background: url(http://opencuny.org/theadvocate/files/2014/12/Robots-parental-controls.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}